@font-face {
  font-family: "Figtree";
  src: url(/development/assets/fonts/static/Figtree-ExtraBold.ttf)
    format("truetype");
  font-weight: 800;
  font-style: extra-bold;
}

@font-face {
  font-family: "Figtree";
  src: url(/development/assets/fonts/static/Figtree-Medium.ttf)
    format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Figtree";
  src: url(/development/assets/fonts/Figtree-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 300;
  font-style: Light;
}

@font-face {
  font-family: "Figtree";
  src: url(/development/assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 300;
  font-style: Light italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(html):not(body) {
  border: 1px dashed #525252;
}

:root {
  --bg-color: rgb(244, 208, 78);
  --main-color: rgb(17, 17, 17);
  --secondary-color: rgb(107, 107, 107);
  --neg-color: rgb(255, 255, 255);

  --title-font-size: 1.5rem;
  --para-font-size: 1rem;
  --sub-para-font-size: 0.875rem;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  background: var(--bg-color);
  display: flex;
}

main {
  width: clamp(300px, 26.67vw, 384px);
  margin: auto;
  background: var(--neg-color);
  padding: var(--title-font-size);
  border-radius: 20px;
  border: 1px solid var(--main-color);
  box-shadow: 8px 8px 0 var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

span {
  font-weight: 800;
}

.blog-image {
  width: 100%;
  height: auto;
}

.blog-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.content p:first-child {
  background: var(--bg-color);
  font-size: var(--sub-para-font-size);
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  display: inline-block;
  margin-block-end: 12px;
}

.content p:nth-child(2) {
  font-size: var(--sub-para-font-size);
  color: var(--main-color);
  margin-block-end: 12px;
}

.content h1 {
  font-size: var(--title-font-size);
  color: var(--main-color);
  font-weight: 800;
  margin-block-end: 12px;
}

.content h1:hover {
  color: var(--bg-color);
  cursor: pointer;
}

.content h1:active {
  color: var(--bg-color);
  cursor: pointer;
}

.content h1:focus {
  color: var(--bg-color);
  cursor: pointer;
}

.content p:last-child {
  font-size: var(--para-font-size);
  color: var(--secondary-color);
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-pic {
  max-width: 2rem;
  max-height: 2rem;
}

.user-pic img {
  width: 100%;
  height: 100%;
}

.author p {
  font-size: var(--sub-para-font-size);
}
