@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: extra-bold;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
  font-weight: 300;
  font-style: Light;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 300;
  font-style: Light italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(244, 208, 78);
  --main-color: rgb(17, 17, 17);
  --secondary-color: rgb(107, 107, 107);
  --neg-color: rgb(255, 255, 255);

  --title-font-size: 1.5rem;
  --mobile-title-font-size: 1.25rem;
  --para-font-size: 1rem;
  --sub-para-font-size: 0.875rem;
  --p-mobile-font-size: 0.75rem;
}

body {
  height: 100vh;
  font-family: "Figtree", sans-serif;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 24rem;
  background: var(--neg-color);
  padding: var(--title-font-size);
  border-radius: 1.25rem;
  border: 1px solid var(--main-color);
  box-shadow: 8px 8px 0 var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

span {
  font-weight: 800;
}

p,
h1 {
  line-height: 150%;
}

.blog-image {
  width: 100%;
  height: 200px;
}

.blog-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.content p:first-child {
  background: var(--bg-color);
  font-size: var(--sub-para-font-size);
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  display: inline-block;
  margin-block-end: 0.75rem;
}

.content p:nth-child(2) {
  font-size: var(--sub-para-font-size);
  color: var(--main-color);
  margin-block-end: 0.75rem;
}

.content h1 {
  font-size: var(--title-font-size);
  color: var(--main-color);
  font-weight: 800;
  margin-block-end: 0.75rem;
}

.content h1:hover {
  color: var(--bg-color);
  cursor: pointer;
}

.content h1:active {
  color: var(--bg-color);
  cursor: pointer;
}

.content h1:focus {
  color: var(--bg-color);
  cursor: pointer;
}

.content p:last-child {
  font-size: var(--para-font-size);
  color: var(--secondary-color);
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-pic {
  max-width: 2rem;
  max-height: 2rem;
}

.user-pic img {
  width: 100%;
  height: 100%;
}

.author p {
  font-size: var(--sub-para-font-size);
}

@media (max-width: 375px) {
  main {
    width: 327px;
  }

  .blog-image {
    width: 100%;
  }

  .blog-image img {
    width: 100%;
    object-fit: cover;
  }

  .content p:first-child,
  .content p:nth-child(2) {
    font-size: var(--p-mobile-font-size);
  }

  .content h1 {
    font-size: var(--mobile-title-font-size);
  }

  .content p:last-child {
    font-size: var(--sub-para-font-size);
  }
}
